extends layout 

block content 
  div.detail-wrapper
    div.detail-title-container 
      h1= name 
      a.btn.btn-secondary(href=`${category.url}`)= category.name
    p.detail-company !{company}

    div.detail-img-container
      img.detail-img(src=imgUrl alt=(name))

    div.detail-info-container
      p.detail-desc= desc

      div.detail-price-container 
        p= "$" + price
        p Stock: #{stock}
      
