extends layout 

block content 
  div.detail-wrapper
    div.detail-title-container 
      h1 !{accessory.name} 
      a.btn.btn-secondary(href=`${accessory.category.url}`)= accessory.category.name
    p.detail-company !{accessory.company}
    div(style='margin-top:-30px')
      a.btn.btn-secondary(href=`${accessory.url}/delete` style='margin-right:50px') Delete Accessory
      a.btn.btn-secondary(href=`${accessory.url}/update`)  Edit Accessory

    div.detail-img-container
      img.detail-img(src=accessory.imgUrl alt=(accessory.name))

    div.detail-info-container
      p.detail-desc !{accessory.desc}

      div.detail-price-container 
        p= "$" + accessory.price
        p Stock: #{accessory.stock}
      
