extends layout 

block content 
  div.detail-wrapper
    h1 Category: #{category.name} 
    a.btn.btn-secondary(href=`${category.url}/delete`) Delete Category
    
    div
      h4 Instruments 

      dl 
        each instrument in category_instruments 
          dt 
            a(href=instrument.url) #{instrument.name}

        else 
          p This category has no instruments 

    div 
      h4 Accessories  
      
      dl 
        each accessory in category_accessories 
          dt 
            a(href=accessory.url) #{accessory.name} 
        
        else 
          p This category has no accessories