extends layout 

block content 
  div.list-wrapper
    h1= title 
    a.btn.btn-secondary(href="/catalog/category/create") Create Category
    div.list-results
      each category in category_list 
        div.list-result-container
          img.list-result-img(id=category.url src=category.imgUrl, alt=category.name)
          a.btn.btn-secondary(href=category.url)= category.name

      else 
        p There are no categories