extends layout 

block content 
  div.list-wrapper
    h1= title 
    a.btn.btn-secondary(href="/catalog/instrument/create") Create Instrument
    div.list-results
      each instrument in instrument_list 
        div.list-result-container
          img.list-result-img(onclick=`location.href='${instrument.url}'` src=`${instrument.imgUrl}`)
          a.btn.btn-secondary(href=instrument.url)=  instrument.name
          p $#{instrument.price}

      else 
        p There are no instruments 