extends layout 

block content 
  div.detail-wrapper
    div.detail-title-container 
      h1= instrument.name 
      a.btn.btn-secondary(href=`${instrument.category.url}`)= instrument.category.name
      a.btn.btn-secondary(href=`${instrument.url}/delete`) Delete Instrument
    p.detail-company !{instrument.company}

    div.detail-img-container
      img.detail-img(src=instrument.imgUrl alt=(instrument.name))

    div.detail-info-container
      p.detail-desc !{instrument.desc}

      div.detail-price-container 
        p= "$" + instrument.price
        p Stock: #{instrument.stock}