extends layout 

block content 
  div.detail-wrapper
    div.detail-title-container 
      h1= instrument.name 
      a.btn.btn-secondary(href=`${instrument.category.url}`)= instrument.category.name
    p.detail-company !{instrument.company}
    div(style='margin-top:-30px')
      a.btn.btn-secondary(href=`${instrument.url}/delete` style='margin-right:50px') Delete Instrument
      a.btn.btn-secondary(href=`${instrument.url}/update`)  Edit Instrument

    div.detail-img-container
      img.detail-img(src=instrument.imgUrl alt=(instrument.name))

    div.detail-info-container
      p.detail-desc !{instrument.desc}

      div.detail-price-container 
        p= "$" + instrument.price
        p Stock: #{instrument.stock}